.dark {
	/*background-color: #423b00;*/
	background-color: #424242;
}

.light {
	/*background-color: #ffe500;*/
	background-color: #fff8ba;
}

.lightgold {
	background-color: #ffe500;
}

.darkgold {
	background-color: #423b00;
}

[select="selected"] {
	background-color: #ffffff
}

[select="selected"] {
	background-color: #40c9ff;
}

[hover="hovering"] {
	background-color: #ffbd40;
}

[hover="unmovable"] {
	background-color: #ff4040;
}

.smoke {

}

.rose {
	
}

.whiteP {
	background-image: url("https://ibin.co/3fU2Stfl1xre.png");
	/*background-image: url("img/white/pawn.png");*/
}

.whiteR {
	background-image: url("https://ibin.co/3fU2q083Og9j.png");
	/*background-image: url("img/white/rook.png");*/
    
}

.whiteN {
	background-image: url("https://ibin.co/3fTzyf3fiqZN.png");
	/*background-image: url("img/white/knight.png");*/
    
}

.whiteB {
	background-image: url("https://ibin.co/3fTxbbfPMok3.png");
	/*background-image: url("img/white/bishop.png");*/
}

.whiteQ {
	background-image: url("https://ibin.co/3fU2hG7OvzsJ.png");
	/*background-image: url("img/white/queen.png");*/
    
}

.whiteK {
	background-image: url("https://ibin.co/3fTznjXr90Nt.png");
	/*background-image: url("img/white/king.png");*/
    
}

.blackP {
	background-image: url("https://ibin.co/3fTvIbvIwMF2.png");
	/*background-image: url("img/black/pawn.png");*/
    
}

.blackR {
	background-image: url("https://ibin.co/3fTvuhXZocdZ.png");
	/*background-image: url("img/black/rook.png");*/
    
}

.blackN {
	background-image: url("https://ibin.co/3fTv6Qyp9Vnh.png");
	/*background-image: url("img/black/knight.png");*/
    
}

.blackB {
	background-image: url("https://ibin.co/3fTJMfja9pBx.png")
	/*background-image: url("img/black/bishop.png");*/
}

.blackQ {
	background-image: url("https://ibin.co/3fTvUmrmjM4a.png");
	/*background-image: url("img/black/queen.png");*/
    
}

.blackK {
	background-image: url("https://ibin.co/3fTuo0t1K7ul.png");
	/*background-image: url("img/black/king.png");*/
}

.targP {
	
}

.fyreP {
	
}